/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    color: #777777;
    font-family: lato, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
}
.navigation {
    display: flex;
    background-color: #c67676;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 2rem 4rem 2rem 4rem;
}
.nav-icon {
    height: 35px;
}
.nav-menu {
    display: flex;
    color: white;
    font-weight: 300;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    width: 25rem;
}
.nav-avatar {
    display: inline;
}
.header {
    height: 95vh;
    background-image: 
        /* linear-gradient(to left bottom, rgba(236, 228, 110, 0.4), rgba(173, 184, 19, 0.4)), */
        url(/img/frog.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.logo-box {
    left: 4rem;
    top: 4rem;
}
.logo {
    height: 35px;
}
.text-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}
.heading-primary {
    color: white;
    text-transform: uppercase;
}
.heading-primary-main {
    display: block;
    font-size: 10rem;
    font-weight: bolder;
    letter-spacing: 3.5rem;
    margin-right: 3.5rem;
}
.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.7rem;
    margin-right: 1.7rem;
    margin-top: 1em;
    transform: translateX(.85rem);
}